## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
application_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN', 'NAME'], axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
types_counts = application_df['APPLICATION_TYPE'].value_counts()
types_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(types_counts[types_counts < 100].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: count, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
class_counts = application_df['CLASSIFICATION'].value_counts()
class_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_counts[class_counts > 1]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_counts[class_counts < 100].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: count, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
application_dum_df = pd.get_dummies(application_df, dtype=int)
application_dum_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [11]:
# Split our preprocessed data into our features and target arrays
y = application_dum_df["IS_SUCCESSFUL"]
X = application_dum_df.drop(columns = "IS_SUCCESSFUL")

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 2)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [13]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
# added extra layer and increased the number of nodes

number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 120
hidden_nodes_layer2 = 60
hidden_nodes_layer3 = 60

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units = hidden_nodes_layer1,
                             input_dim = number_input_features,
                             activation = 'relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units = hidden_nodes_layer2,
                             activation = 'relu'))

# Third hidden layer
# the addded layer with a different activation function
nn.add(tf.keras.layers.Dense(units = hidden_nodes_layer3,
                             activation = 'tanh'))



# Output layer
nn.add(tf.keras.layers.Dense(units = 1,
                             activation = 'sigmoid'))

# Check the structure of the model
nn.summary()

/Users/eleanorduplock/anaconda3/envs/dev/lib/python3.10/site-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 120)            │         6,120 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 60)             │         7,260 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 60)             │         3,660 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_3 (Dense)                 │ (None, 1)              │            61 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 17,101 (66.80 KB)

 Trainable params: 17,101 (66.80 KB)

 Non-trainable params: 0 (0.00 B)

In [14]:
# Compile the model
nn.compile(loss = 'binary_crossentropy',
           optimizer = 'adam',
           metrics = ['accuracy'])

In [15]:
# Train the model
# increase the number of epochs
fit_model = nn.fit(X_train_scaled, y_train, epochs = 100)

Epoch 1/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 584us/step - accuracy: 0.7102 - loss: 0.5812
Epoch 2/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 462us/step - accuracy: 0.7280 - loss: 0.5548
Epoch 3/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 462us/step - accuracy: 0.7273 - loss: 0.5527
Epoch 4/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 461us/step - accuracy: 0.7339 - loss: 0.5465
Epoch 5/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 464us/step - accuracy: 0.7318 - loss: 0.5493
Epoch 6/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 467us/step - accuracy: 0.7318 - loss: 0.5473
Epoch 7/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 467us/step - accuracy: 0.7315 - loss: 0.5457
Epoch 8/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 457us/step - accuracy: 0.7308 - loss: 0.5440
Epoch 9/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 464us/step - accuracy: 0.7313 - loss: 0.5471
Epoch 10/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 459us/step - accuracy: 0.7346 - loss: 0.5427
Epoch 11/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 490us/step - accuracy: 0.7365 - loss: 0.5438
Epoch 12/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 468us/step - accuracy: 0.7335 - loss: 0.5457
Epoch 13/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 458us/step - accuracy: 0.7347 - loss: 0.5388
Epoch 14/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 466us/step - accuracy: 0.7320 - loss: 0.5434
Epoch 15/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 459us/step - accuracy: 0.7377 - loss: 0.5363
Epoch 16/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 468us/step - accuracy: 0.7364 - loss: 0.5410
Epoch 17/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 460us/step - accuracy: 0.7380 - loss: 0.5392
Epoch 18/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 466us/step - accuracy: 0.7371 - loss: 0.5424
Epoch 19/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 462us/step - accuracy: 0.7395 - loss: 0.5384
Epoch 20/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 475us/step - accuracy: 0.7376 - loss: 0.5366
Epoch 21/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 478us/step - accuracy: 0.7331 - loss: 0.5398
Epoch 22/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 473us/step - accuracy: 0.7416 - loss: 0.5370
Epoch 23/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 469us/step - accuracy: 0.7342 - loss: 0.5417
Epoch 24/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 466us/step - accuracy: 0.7385 - loss: 0.5378
Epoch 25/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 461us/step - accuracy: 0.7385 - loss: 0.5378
Epoch 26/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 468us/step - accuracy: 0.7410 - loss: 0.5345
Epoch 27/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 464us/step - accuracy: 0.7330 - loss: 0.5431
Epoch 28/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 469us/step - accuracy: 0.7350 - loss: 0.5389
Epoch 29/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 467us/step - accuracy: 0.7362 - loss: 0.5382
Epoch 30/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 490us/step - accuracy: 0.7409 - loss: 0.5331
Epoch 31/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 481us/step - accuracy: 0.7362 - loss: 0.5389
Epoch 32/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 486us/step - accuracy: 0.7400 - loss: 0.5357
Epoch 33/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 471us/step - accuracy: 0.7469 - loss: 0.5262
Epoch 34/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 468us/step - accuracy: 0.7364 - loss: 0.5381
Epoch 35/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 471us/step - accuracy: 0.7367 - loss: 0.5379
Epoch 36/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 463us/step - accuracy: 0.7429 - loss: 0.5331
Epoch 37/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 469us/step - accuracy: 0.7401 - loss: 0.5330
Epoch 38/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 471us/step - accuracy: 0.7436 - loss: 0.5329
Epoch 39/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 463us/step - accuracy: 0.7412 - loss: 0.5341
Epoch 40/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 468us/step - accuracy: 0.7375 - loss: 0.5359
Epoch 41/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 465us/step - accuracy: 0.7382 - loss: 0.5360
Epoch 42/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 471us/step - accuracy: 0.7418 - loss: 0.5331
Epoch 43/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 471us/step - accuracy: 0.7417 - loss: 0.5323
Epoch 44/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 475us/step - accuracy: 0.7391 - loss: 0.5320
Epoch 45/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 597us/step - accuracy: 0.7394 - loss: 0.5302
Epoch 46/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 479us/step - accuracy: 0.7444 - loss: 0.5286
Epoch 47/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 483us/step - accuracy: 0.7446 - loss: 0.5258
Epoch 48/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 483us/step - accuracy: 0.7407 - loss: 0.5301
Epoch 49/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 492us/step - accuracy: 0.7415 - loss: 0.5320
Epoch 50/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 486us/step - accuracy: 0.7388 - loss: 0.5334
Epoch 51/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 525us/step - accuracy: 0.7441 - loss: 0.5282
Epoch 52/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 481us/step - accuracy: 0.7453 - loss: 0.5271
Epoch 53/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 482us/step - accuracy: 0.7415 - loss: 0.5294
Epoch 54/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 490us/step - accuracy: 0.7396 - loss: 0.5309
Epoch 55/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 528us/step - accuracy: 0.7415 - loss: 0.5310
Epoch 56/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 495us/step - accuracy: 0.7417 - loss: 0.5316
Epoch 57/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 507us/step - accuracy: 0.7412 - loss: 0.5320
Epoch 58/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 490us/step - accuracy: 0.7374 - loss: 0.5357
Epoch 59/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 487us/step - accuracy: 0.7417 - loss: 0.5346
Epoch 60/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 486us/step - accuracy: 0.7423 - loss: 0.5313
Epoch 61/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 486us/step - accuracy: 0.7398 - loss: 0.5305
Epoch 62/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 476us/step - accuracy: 0.7439 - loss: 0.5283
Epoch 63/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 522us/step - accuracy: 0.7423 - loss: 0.5299
Epoch 64/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 496us/step - accuracy: 0.7376 - loss: 0.5329
Epoch 65/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 492us/step - accuracy: 0.7450 - loss: 0.5271
Epoch 66/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 488us/step - accuracy: 0.7435 - loss: 0.5289
Epoch 67/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 479us/step - accuracy: 0.7403 - loss: 0.5258
Epoch 68/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 479us/step - accuracy: 0.7434 - loss: 0.5291
Epoch 69/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 488us/step - accuracy: 0.7435 - loss: 0.5285
Epoch 70/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 479us/step - accuracy: 0.7449 - loss: 0.5299
Epoch 71/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 516us/step - accuracy: 0.7374 - loss: 0.5359
Epoch 72/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 477us/step - accuracy: 0.7417 - loss: 0.5283
Epoch 73/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 484us/step - accuracy: 0.7384 - loss: 0.5331
Epoch 74/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 478us/step - accuracy: 0.7393 - loss: 0.5334
Epoch 75/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 476us/step - accuracy: 0.7364 - loss: 0.5361
Epoch 76/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 471us/step - accuracy: 0.7408 - loss: 0.5280
Epoch 77/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 476us/step - accuracy: 0.7395 - loss: 0.5324
Epoch 78/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 467us/step - accuracy: 0.7406 - loss: 0.5283
Epoch 79/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 470us/step - accuracy: 0.7396 - loss: 0.5313
Epoch 80/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 468us/step - accuracy: 0.7429 - loss: 0.5312
Epoch 81/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 465us/step - accuracy: 0.7398 - loss: 0.5331
Epoch 82/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 472us/step - accuracy: 0.7418 - loss: 0.5269
Epoch 83/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 465us/step - accuracy: 0.7446 - loss: 0.5264
Epoch 84/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 463us/step - accuracy: 0.7416 - loss: 0.5311
Epoch 85/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 468us/step - accuracy: 0.7387 - loss: 0.5328
Epoch 86/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 472us/step - accuracy: 0.7424 - loss: 0.5305
Epoch 87/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 478us/step - accuracy: 0.7434 - loss: 0.5293
Epoch 88/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 470us/step - accuracy: 0.7450 - loss: 0.5263
Epoch 89/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 476us/step - accuracy: 0.7402 - loss: 0.5308
Epoch 90/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 478us/step - accuracy: 0.7431 - loss: 0.5253
Epoch 91/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 471us/step - accuracy: 0.7421 - loss: 0.5301
Epoch 92/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 487us/step - accuracy: 0.7427 - loss: 0.5294
Epoch 93/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 475us/step - accuracy: 0.7399 - loss: 0.5301
Epoch 94/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 468us/step - accuracy: 0.7354 - loss: 0.5332
Epoch 95/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 485us/step - accuracy: 0.7379 - loss: 0.5334
Epoch 96/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 486us/step - accuracy: 0.7389 - loss: 0.5333
Epoch 97/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 480us/step - accuracy: 0.7355 - loss: 0.5356
Epoch 98/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 487us/step - accuracy: 0.7486 - loss: 0.5214
Epoch 99/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 487us/step - accuracy: 0.7404 - loss: 0.5319
Epoch 100/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 476us/step - accuracy: 0.7448 - loss: 0.5257

In [16]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - 556us/step - accuracy: 0.7314 - loss: 0.5613
Loss: 0.5612644553184509, Accuracy: 0.7314285635948181

In [17]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity_Optimization.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.